<section id="pricing" class="pricing">

  <div class="container" >

    <header class="section-header">

      <p>Event Details</p>
    </header>

    <div class="row gy-4" >

      <div class="col-lg-3 col-md-6" >
        <div class="box">
          <h3 style="color: #07d5c0;">Free Plan</h3>
          <div class="price"><sup>$</sup>0<span> / DT</span></div>
          <img src="assets/img/pricing-free.png" class="img-fluid" alt="">
          <ul>
            <li>Aida dere</li>
            <li>Nec feugiat nisl</li>
            <li>Nulla at volutpat dola</li>
            <li class="na">Pharetra massa</li>
            <li class="na">Massa ultricies mi</li>
          </ul>
          <a href="#" class="btn-buy">Participate</a>
        </div>
      </div>



      <div class="col-lg-3 col-md-12" style="width:900px;height:479.6;margin-left: 50px;">
        <div class="box">
          <h3 style="color: #ff0071;">Event</h3>
          <!-- <div class="price"></div> -->
          <img src="./assets/user/img/pricing-ultimate.png" class="img-fluid" alt="">
          <ul>
            <li>Description</li>
            <li>Date: </li>
          </ul>

        </div>
      </div>

    </div>

  </div>

</section><!-- End Pricing Section -->
