<section id="pricing" class="pricing">

  <div class="container" >

    <header class="section-header">
      <p>Event Details</p>
    </header>

    <!-- <div class="row content" >
      <div class="d-flex HeaderBoxDtailsPath align-items-center flex-row justify-content-center" style="width:80% ;">
        <div class="col-lg-6">
          <h4 style="color: #000000;">{{this.Event.name}}</h4>
          <div class="ShortDescBox">{{this.Event.description}}</div>
          <div class="IconsHeaderBoxDtailsPath">{{this.Event.date}}</div>
          <div class="LinkyouNeed d-flex justify-content-start">
            <a href="" class="buttonWithoutBackground LinkNeedYou d-flex align-items-center btn-buy">Participate</a>
          </div>
          <!-- <div class="price"></div> -->
          <!-- <ul>
            <li></li>
            <li> </li>
          </ul>
        </div>
        <div class="col-lg-5 offset-md-1 pt-4 pt-lg-0">
          <div class="borderRaduisApp">
            <img src={{this.Event.avatar}} class="img-fluid borderRaduisApp" alt="">
          </div>
        </div>
      </div>
    </div> -->

    <div class="d-flex HeaderBoxDtailsPath align-items-center flex-row justify-content-center box" style="width: 70%;" >
      <div class="col-md-auto col-xs-18" style="width:80% ;">
        <div class="">
          <h2 class="title">{{this.Event.name}}</h2>
          <div class="DescBox">
            <p class="describ">{{this.Event.description}}</p>
          </div>
          <div class="details">
            <div class="DescBox place">
              <i class="bi bi-geo-alt icon"></i> &nbsp;
              <span class="text"> ISET Bizerte </span>
            </div>
            <div class="DescBox date">
                <i class="bi bi-calendar-event icon"></i> &nbsp;
                <span class="text"> {{this.Event.date}} </span>
            </div><br>
          </div>
          
          <div *ngIf="!this.Event.Notparticipated" class="LinkyouNeed d-flex justify-content-start"> <button (click)="registerStudent()" class=" btn-buy">UnParticipate</button>
        </div>
                  
        <div *ngIf="this.Event.Notparticipated"  class="LinkyouNeed d-flex justify-content-start"><button (click)="registerStudent()" class=" btn-buy"   > Participate</button>
        </div>
        </div>
      </div>
      <div class="imgResponsiveNoMargin  pt-12 pt-md-0">
        <div class="borderRaduisApp">
            <img src={{this.Event.avatar}} class="img-fluid   " alt="" width="300px">
        </div>
      </div>
    </div>

  </div>

</section><!-- End Pricing Section -->



