
<section id="services" class="services" style="margin-top: 7px;">

  <div class="container" >

    <header class="section-header">

      <p>Events list </p>
    </header>

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6"  *ngFor="let event of Events ">
        <div class="service-box blue">
          <img src={{event.avatar}} alt="">
          <h3>{{event.name}}</h3>
          <p>{{event.description}}</p>
          <a [routerLink]="['/show-event',event._id]"  routerLink="" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>




    </div>

  </div>

</section><!-- End Services Section -->
