
<section id="services" class="services" style="margin-top: 7px;">

  <div class="container" >

    <header class="section-header">

      <p>Events list </p>
    </header>

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" >
        <div class="service-box blue">
          <i class="ri-discuss-line icon"></i>
          <h3>Event 1</h3>
          <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
          <a routerLink="/show-event" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" >
        <div class="service-box orange">
          <i class="ri-discuss-line icon"></i>
          <h3>Event 2</h3>
          <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
          <a routerLink="/show-event" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" >
        <div class="service-box green">
          <i class="ri-discuss-line icon"></i>
          <h3>Event 3 </h3>
          <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
          <a routerLink="/show-event" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>


    </div>

  </div>

</section><!-- End Services Section -->
