
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 >We offer modern solutions for growing your business</h1>
        <h2  data-aos-delay="400">We are team of talented designers making websites with Bootstrap</h2>
        <div  >
          <div class="text-center text-lg-start">
            <a  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img"  >
        <img src="./assets/user/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section>
