
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 >Improve <span class="black"> your skills</span>
          on your own to prepare
          for a <span class="black"> better future</span></h1><br>
        <h5 data-aos-delay="400">ISET Events is a plateform that allows any student to discover every event will happen in his ow institut and all the details  about it by receive notifications and facilitating the paticipation process </h5>
        <div>
          <!-- *ngIf="login()" -->
          <div *ngIf="!logedIn"  class="text-center text-lg-start" >

            <a  (click)="this.authService.login()" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Log In</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img"  >
        <img src="./assets/user/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section>
