<button routerLink="/admin/events" class="btn btn-dark" style="margin-top: 3px;margin-left: 4px;"><i class="fas fa-arrow-circle-left"></i> Back to events list </button>
<div class="col-lg-8 col-xlg-9 col-md-12" >

  <div class="card" style="margin-left:300px;">
      <div class="card-body" >
          <!-- <form class="form-horizontal form-material" [formGroup]="eventsaveform" #savestudent (ngSubmit)="saveEvent(saveEvent)"> -->
              <div class="form-group mb-4">
                  <label class="col-md-12 p-0">Event Name</label>
                  <div class="col-md-12 border-bottom p-0">
                      <input type="text" placeholder="Johnathan Doe" formControlName="event_name"
                          class="form-control p-0 border-0"> </div>
              </div>
              <div class="form-group mb-4">
                  <label for="example-email" class="col-md-12 p-0">Date</label>
                  <div class="col-md-12 border-bottom p-0">
                      <input type="date"
                          class="form-control p-0 border-0" name="example-date"
                          id="example-date">
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label class="col-md-12 p-0">Event Picture</label>
                  <div class="col-md-12 border-bottom p-0">
                      <input type="file"
                          class="form-control p-0 border-0">
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label class="col-md-12 p-0">Description</label>
                  <div class="col-md-12 border-bottom p-0">
                      <textarea rows="5" class="form-control p-0 border-0"></textarea>
                  </div>
              </div>
              <div class="form-group mb-4">
                  <div class="col-sm-12">
                      <button class="btn btn-success">Add Event</button>
                  </div>
              </div>
          <!-- </form> -->
      </div>
  </div>
</div>
<!-- Column -->

