<div class="page-breadcrumb bg-white">
  <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title"> All Students</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <div class="d-md-flex">
              <ol class="breadcrumb ms-auto">
                  <!-- <li><app-search-bar (searchTextChanged)="onSearchTextEntered($event)" ></app-search-bar></li> -->
              </ol>
              <a routerLink="/admin/add-student"
                  class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Add
                  </a>
          </div>
      </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- <router-outlet></router-outlet> -->
  <div class="row" style="margin-top: 8px;">
      <div class="col-sm-12">
          <div class="white-box">
              <!-- <h3 class="box-title">Basic Table</h3> -->
              <!-- <p class="text-muted">Add class <code>.table</code></p> -->
              <div class="table-responsive" >
                  <table class="table text-nowrap">
                      <thead>
                          <tr>
                              <th class="border-top-0">#</th>
                              <th class="border-top-0">First Name</th>
                              <th class="border-top-0">Last Name</th>
                              <th class="border-top-0">Username</th>
                              <th class="border-top-0">Role</th>
                              <th class="border-top-0">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>Deshmukh</td>
                              <td>Prohaska</td>
                              <td>@Genelia</td>
                              <td>admin</td>
                              <td><button class="btn btn-danger">Delete</button></td>

                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>
