.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.form-control{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
  margin-top: -10%;
  color: #fff;
  background-color: #4154f1!important;
  width: 100%;
  font-size: 18px;
  border: none!important;
  background-image: none!important;    border-radius: 0.25rem;
}
.icbtnfb{
  color: #fff;
  background-color: #4154f1!important;
  border: none!important;
  background-image: none!important;
  padding: 8px 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.icbtngl{
  color: #fff;
  background-color: #4154f1!important;
  border: none!important;
  background-image: none!important;
  padding: 8px 12px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.form{
  margin-top: 10%;
}
.rem{
  margin-top:1% ;
}
.alert-warning{
  color: #000000;
    background-color: #4153f147;
    border-color: #f5d0b8;
}

.alert{
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 17px;
}
.alert-link{
  color: #4154f1 ;
}
.vh-100{
  position: absolute;
}
