<div class="page-breadcrumb bg-white">
  <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">All Events</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <div class="d-md-flex">
              <ol class="breadcrumb ms-auto">
                  <li><app-search-bar (searchTextChanged)="onSearchTextEntered($event)" ></app-search-bar></li>
              </ol>
              <a routerLink="/admin/add-event"
                  class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Add </a>


          </div>


      </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <!-- .col -->
  <div class="container" style="margin: 8px;"    >
      <div class="card white-box p-0">
          <div class="card-body">
              <h3 class="box-title mb-0">List Events</h3>

              <select
              (change)="onTableSizeChange($event)" >
            <option *ngFor="let size of tableSizes">
              {{size}}
            </option>

            </select>
          </div>
          <div class="comment-widgets">
              <!-- Comment Row -->

              <ng-container class="d-flex flex-row comment-row p-3 mt-0" *ngFor="let event of Events | paginate: {itemsPerPage:tableSize,
                currentPage:page,
                totalItems:count}; let i = index">
                <div *ngIf="searchText ==='' || event.name.includes(searchText)">
                  <div class="p-2"><img [src]=""></div>
                  <div class="comment-text ps-2 ps-md-3 w-100">
                      <h5 class="font-medium"> {{event.name}}</h5>
                      <span class="mb-3 d-block"> {{event.description}} </span>
                      <div class="comment-footer d-md-flex align-items-center">

                           <a [routerLink]="['/admin/update-event/',event.id]"
                           class="btn btn-success  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Update </a>
                           <!-- <button class="btn btn-danger" style="margin: 4px;">Delete</button> -->
                           <button routerLink="#"
                           class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white" (click)="deleteEvent(event.id)" >Delete </button>
                          <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">{{event.date}}</div>
                      </div>
                  </div>
                </div>
              </ng-container>

              <!-- Comment Row -->
              <div>
                <pagination-controls

                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
                style="margin:20px;padding-left: -5px; "
                ></pagination-controls>
              </div>




          </div>


